{%extends 'layout.html' %}

{%block content %}
{% from "_macros.html" import render_field %}


<!-- Page Heading -->
    <div class="row">
        <div class="col-md-6 my-3">
            <h1 class="h3 mb-2 text-gray"><i class="fas fa-solid fa-receipt"></i> Recetas</h1>
        </div>
    
        <div class="col-md-6 my-3 d-flex justify-content-end">
            <button type="button" id="btnInteraccion" class="btn btn-primary" onclick="window.location.href='/vistaRecetas'"><i class="fas fa-arrow-left"></i> Regresar
            </button>
        </div>
    </div>

    <!-- Form Receta -->
    <div class="card shadow mb-4" id="spacesForm">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold">Formulario</h6>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                <!-- Datos de Persona -->
                <div class="card">
                    <div class="card-header">
                        <div class="col-12">
                            <i class="fas fa-solid fa-receipt"></i> Datos Receta
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                {{ formReceta.nombre.label(class="form-label") }} 
                                {{ render_field(formReceta.nombre, class="form-control",) }}
                            </div>
                            <div class="col-sm-4 form-group">
                                {{ formReceta.num_galletas.label(class="form-label") }} 
                                {{ render_field(formReceta.num_galletas, class="form-control") }}
                            </div>
                            <div class="col-sm-4 form-group">
                                {{ formReceta.fecha.label(class="form-label") }} 
                                {{ render_field(formReceta.fecha, class="form-control") }}
                            </div>
                            <div class="col-sm-4 form-group" style="display: none;">
                                {{ render_field(formReceta.ingredientes, class="form-control") }}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Datos de Redes -->
                <div class="card">
                    <div class="card-header">
                        <div class="col-12">
                            <i class="fas fa-solid fa-receipt"></i> Detalle Receta
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="card col-6">
                                <div class="card-header">
                                    <div class="col-md-12">
                                        <i class="fas fa-solid fa-kitchen-set"></i> Pasos de la Receta
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            {{ render_field(formReceta.descripcion, rows="15", class="form-control") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card col-6">
                                <div class="card-header">
                                    <div class="col-md-12">
                                        <i class="fas fa-solid fa-wheat-awn"></i> Ingredientes
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                {{ formDetalle.ingrediente.label(class="form-label", id="ingrediente_label") }}
                                                <select name="ingrediente" id="ingrediente_input" class="form-control">
                                                    {% for materia_prima in materias_primas %}
                                                        <option value="{{ materia_prima.id }}">{{ materia_prima.nombre }}</option>
                                                    {% endfor %}
                                                </select>
                                                {% for error in formDetalle.ingrediente.errors %}
                                                    <span class="text-danger">{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                {{ formDetalle.cantidad.label(class="form-label", id="cantidad_label") }}
                                                {{ render_field(formDetalle.cantidad, class="form-control", id="cantidad_input") }}
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                {{ formDetalle.unidad_medida.label(class="form-label", id="unidad_medida_label") }}
                                                {{ render_field(formDetalle.unidad_medida, class="form-control", id="unidad_medida_input") }}
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                {{ formDetalle.porcentaje_merma.label(class="form-label", id="porcentaje_merma_label") }}
                                                {{ render_field(formDetalle.porcentaje_merma, class="form-control", id="porcentaje_merma_input") }}
                                            </div>
                                            <input type="submit" id="agregar" name="agregar" value="Agregar" class="btn btn-success mb-3" />
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Ingrediente</th>
                                                        <th>Cantidad</th>
                                                        <th>Unidad de Medida</th>
                                                        <th>Porcentaje de Merma</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for ingrediente_data in ingredientes_data %}
                                                    <tr>
                                                        <td>{{ ingrediente_data.ingrediente }}</td>
                                                        <td>{{ ingrediente_data.cantidad }}</td>
                                                        <td>{{ ingrediente_data.unidad_medida }}</td>
                                                        <td>{{ ingrediente_data.porcentaje_merma }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <br>
                <!-- <div class="text-center">
                    <button type="submit" class="btn btn-success"><i class="fas fa-solid fa-save"></i> Guardar Receta</button>
                    <button type="button" class="btn btn-danger"><i class="fas fa-solid fa-trash"></i> Eliminar Receta</button>
                    <button type="button" class="btn btn-primary"><i class="fas fa-solid fa-eraser"></i> Limpiar Campos</button>
                    <button type="button" class="btn btn-warning"><i class="fas fa-solid fa-ban"></i> Cancelar</button>
                </div> -->
            </form>
        </div>
    </div>

{% endblock %}

