
{%extends 'layout.html' %}
{%block content %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% from "_macros.html" import render_field %}

<div class="row">
    <div class="col-md-6">
        <h2 class="h2 mb-2 text-gray"><strong>¡Bienvenido {{current_user.nombre}}!</strong></h2>
        {% if lastSession%}
            <h4 class="h4 mb-2 text-gray">Tu última sesión fue el {{lastSession}}</h4>
        {% else %}
            <h4 class="h4 mb-2 text-gray">¡Este es tu primer sesión!</h4>
        {% endif %}
    </div>
</div>

        <!-- Producción Anual -->
        <div class="row">
            <div class="card shadow mb-4 col-6">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Producción de Galletas (Año)</h6>
            </div>
            <div class="card-body">
                <canvas id="myChart"></canvas>
            </div>
        </div>
            <div class="card shadow mb-4 col-6">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Producción de Galletas (Semana)</h6>
            </div>
            <div class="card-body">
                <canvas id="myChartWeek"></canvas>
            </div>
        </div>

        </div>


        <!-- Producción Semanal -->

        <!-- Producción Mensual por Tipo -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Producción de Galletas (Mes)</h6>
            </div>
            <div class="card-body">
                <canvas id="myChartMonth"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="card shadow mb-4 col-12">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Costo de Producción por Galleta</h6>
                </div>
                <div class="card-body">
                    <canvas id="myChartCostoGalleta"></canvas>
                    <h3 class="text-center" id="mejorGalleta">La galleta con mejor rendimiento económico es: {{ menor_costo }}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card shadow mb-4 col-12">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Galleta con mayor merma</h6>
                </div>
                <div class="card-body">
                    <canvas id="myChartMermaCantidad"></canvas>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="card shadow mb-4 col-12">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">Galleta con mayor porcentaje de merma</h6>
                </div>
                <div class="card-body">
                    <canvas id="myChartMermaPorcentaje"></canvas>
                </div>
            </div>
        </div>

        <script>
            // Producción Anual
            var ctxYear = document.getElementById('myChart').getContext('2d');
            var myChartYear = new Chart(ctxYear, {
                type: 'line',
                data: {
                    labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    datasets: [{
                        label: 'Producción Anual de Galletas',
                        data: [120, 190, 300, 500, 200, 300, 450, 480, 320, 560, 590, 300], // Datos de ejemplo
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 2,
                        fill: false,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        
            // Producción Semanal
            var ctxWeek = document.getElementById('myChartWeek').getContext('2d');
            var myChartWeek = new Chart(ctxWeek, {
                type: 'bar',
                data: {
                    labels: ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'],
                    datasets: [{
                        label: 'Producción Semanal de Galletas',
                        data: [120, 150, 180, 120, 105, 90, 100], // Datos de ejemplo
                        backgroundColor: 'rgba(255, 159, 64, 0.2)',
                        borderColor: 'rgba(255, 159, 64, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        
            // Producción Mensual por Tipo
            var ctxMonth = document.getElementById('myChartMonth').getContext('2d');
            var myChartMonth = new Chart(ctxMonth, {
                type: 'doughnut',
                data: {
                    labels: ['Chocolate', 'Vainilla', 'Fresa', 'Limón', 'Nuez'],
                    datasets: [{
                        label: 'Producción por Tipo',
                        data: [300, 250, 100, 150, 200], // Datos de ejemplo
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                }
            });
        
             // Costo de Producción por Galleta
            var costos_galletas = JSON.parse('{{ costos_galletas|tojson|safe }}');
            var nombres_galletas = costos_galletas.map(function(galleta) {
                return galleta[0];
            });
            var precios_galletas = costos_galletas.map(function(galleta) {
                return galleta[1];
            });

            var ctxCostoGalleta = document.getElementById('myChartCostoGalleta').getContext('2d');
            var myChartCostoGalleta = new Chart(ctxCostoGalleta, {
                type: 'bar',
                data: {
                    labels: nombres_galletas,
                    datasets: [{
                        label: 'Costo de Producción por Receta',
                        data: precios_galletas,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Costo de producción($)'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Galletas'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            callbacks: {
                                footer: function(tooltipItems, data) {
                                    // Obtener el índice del precio mínimo
                                    var minIndex = precios_galletas.indexOf(Math.min(...precios_galletas));
                                    // Obtener el nombre de la galleta con menor costo
                                    var mejorGalleta = nombres_galletas[minIndex];
                                }
                            }
                        }
                    }
                }
            });

            var mermaCantidad = JSON.parse('{{ merma_mayor|tojson|safe }}');
            nombres_galletas = mermaCantidad.map(function(galleta) {
                return galleta[0];
            });
            var cantidades_merma = mermaCantidad.map(function(galleta) {
                return galleta[1];
            });

            var ctxMermaCantidad = document.getElementById('myChartMermaCantidad').getContext('2d');
            var myChartMemraCantidad = new Chart(ctxMermaCantidad, {
                type: 'doughnut',
                data: {
                    labels: nombres_galletas,
                    datasets: [{
                        label: 'Cantidad de galletas en merma',
                        data: cantidades_merma,
                         backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Costo de producción($)'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Galletas'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            callbacks: {
                                footer: function(tooltipItems, data) {
                                    // Obtener el índice del precio mínimo
                                    var minIndex = cantidades_merma.indexOf(Math.min(...cantidades_merma));
                                    // Obtener el nombre de la galleta con menor costo
                                    var mejorGalleta = nombres_galletas[minIndex];
                                    document.getElementById('mejorGalleta').textContent = "La galleta con mejor rendimiento económico es: " + mejorGalleta;
                                }
                            }
                        }
                    }
                }
            });


            var mermaPorcentaje = JSON.parse('{{ merma_porcentaje|tojson|safe }}');
            nombres_galletas = mermaPorcentaje.map(function(galleta) {
                return galleta[0];
            });
            cantidades_merma = mermaPorcentaje.map(function(galleta) {
                return galleta[1];
            });

            var ctxMermaPorcentaje = document.getElementById('myChartMermaPorcentaje').getContext('2d');
            var myChartMermaPorcentaje = new Chart(ctxMermaPorcentaje, {
                type: 'doughnut',
                data: {
                    labels: nombres_galletas,
                    datasets: [{
                        label: 'Cantidad de galletas en merma',
                        data: cantidades_merma,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Costo de producción($)'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Galletas'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            callbacks: {
                                footer: function(tooltipItems, data) {
                                    // Obtener el índice del precio mínimo
                                    var minIndex = cantidades_merma.indexOf(Math.min(...cantidades_merma));
                                    // Obtener el nombre de la galleta con menor costo
                                    var mejorGalleta = nombres_galletas[minIndex];
                                    document.getElementById('mejorGalleta').textContent = "La galleta con mejor rendimiento económico es: " + mejorGalleta;
                                }
                            }
                        }
                    }
                }
            });

        </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}