{% extends 'layout.html' %} 
{% block content %} 
{% from "_macros.html" import render_field %}

<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <h2>Alertas</h2>
            <div class="form-group col-md-4">
                <form method="POST" action="/alertas">
                    {{ form.csrf_token }}
                    {{ render_field(form.filtroAlerta, class="form-control") }}
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                </form>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="/actualizar_alerta">
                {{ form.csrf_token }}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Fecha de alerta</th>
                            <th>Estatus</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alerta in alertas %}
                            <tr>
                                <td>{{ alerta.nombre }}</td>
                                <td>{{ alerta.descripcion }}</td>
                                <td>{{ alerta.fechaAlerta }}</td>
                                <td>
                                    <div class="form-check">
                                        <!-- Establece el valor de la casilla de verificación correctamente -->
                                        <input class="form-check-input" type="checkbox" name="completada_{{ alerta.id }}" value="1" id="completada{{ alerta.id }}" {% if alerta.estatus == 1 %} checked {% endif %}>
                                        <label class="form-check-label" for="completada{{ alerta.id }}">Completada</label>
                                    </div>
                                    <input type="hidden" name="alerta_id_{{ alerta.id }}" value="{{ alerta.id }}">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success mx-auto">Guardar cambios</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
