<!-- modificarMerma.html -->
{% extends 'base_layout.html' %}
{% block content %}
  <h1>Modificar Merma de Materia Prima</h1>
  <form action="{{ url_for('mermas.modificar_merma', id=merma.id) }}" method="post">
    {{ form.csrf_token }}
    {{ form.materia_prima_id.label }} {{ form.materia_prima_id }}
    {{ form.tipo.label }} {{ form.tipo }}
    {{ form.cantidad.label }} {{ form.cantidad }}
    {{ form.descripcion.label }} {{ form.descripcion }}
    {{ form.fecha.label }} {{ form.fecha }}
    <button type="submit" class="btn btn-success">Actualizar Merma</button>
  </form>
{% endblock %}